selenium
pandas
gdown
pymupdf4llm
langchain-community
openai
PyPDF2
pillow
langchain-openai
langchain-chroma>=0.1.2
streamlit
langchain-experimental
langchain-cohere
tiktoken
matplotlib
pydantic<2.0
pysqlite3-binary
chromadb 
langchain